.navcontainer
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: black;
}

.navcontainer>a
{
    padding: 10px;
    flex-wrap: wrap;
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
}