.navcontainer
{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
    height: auto;
}

.navcontainer>a
{
    padding: 10px;
    flex-wrap: wrap;
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    border: solid white;
}

html,body
{
    margin: 0%;
    padding: 0%;
}

.navcontainer>a:hover
{
    background-color:white;
    color: black;
    transition: 1s;
}

.datacontainers
{
    display: flex;
    flex-direction: column;
}

.datacontainer
{
    display: flex;
    width: 30%;
    
}

.datacontainer>span
{
    border: black solid;
    width: 50%;
    padding: 10px;
}